{% load blog_tags %}
{% load static %}
<!-- ========== HEADER ========== -->
<div class="header">
    <nav class="navbar header_lay navbar-expand-lg">
        <div class="nav-brand">
            <a class="navbar-brand fw-bold" href="{% url 'blog:hero' %}">
                <!-- Mazzy Logo -->
                {% include "blog/partials/logo.html" %}
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collaps"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collaps navbar-collapse" id="navbarSupportedContent">
            <div claess="right-sidebar">
                <div class="nav-bar" id="navbarSupportedContent">
                    <ul class="nav-links ms-auto ">
                        <li class="nav-item">
                            <a href="{% url 'blog:hero' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'blog:post_list' %}">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Authors</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="left-sidebar">
                <!-- Search Bar -->
                <form class="search-form" action="{% url 'blog:search' %}" method="GET" >
                    <input class="form-control me-2" type="text" name="q" placeholder="Search..." required>
                    <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
                </form>        

                <!-- Optional: user icon / search / etc. -->
                <div class="nav-extras">
                    <a href="#" class="user-icon">
                        <img src="{% static 'image/link/user (1).png' %}" alt="user Icon" />
                    </a>
                </div>

                <div class="posts">
                    <p>
                        <span class="h-text">This is my blog:</span>
                        I've written {% total_posts %} posts so far.
                    </p>
                </div>
            </div>
        </div>
    </nav>
</div>