:root {
    --main-color: #172539;/* Primary site color */
    --text-color: #ffffff; /* Text color on dark backgrounds */
    --bc-color: #f9fafb; /* Light neutral background */
    --link-color: #009688;/* Links and accents */
    --footer-bg: #2d2d2d;/* Footer background */
    --footer-text: #ffffff;/* Footer text color */
    --bd-color: #333; /* Mid-gray for borders */
    --near-black: #101010; /* Near-black for intense areas */
    --black-color: #000000; /* True black for contrast */  
    --other-color: #868686; /* Neutral gray for secondary text */
    --input-color: #bfbebe; 
    --soft-color: rgba(255, 255, 255, 0.8);/* Softer gray for input fields */
    --muted-color: #95949a;     /* Muted text, secondary elements */
    /* Miscellaneous */
    --success-color: #2ecc71; /* Green for success messages */
    --error-color: #e74c3c; /* Red for error messages */
    --warning-color: #f39c12; /* Orange for warnings */
    /* Color variables for dark mode */
    --main-color-dark: #1a1a1a;  /* Primary site color (dark mode) */
    --text-color-dark: #e1e1e1;  /* Text color (dark mode) */
    --bc-color-dark: #121212;    /* Dark background (dark mode) */
    --link-color-dark: #4db8b8;  /* Links and accents (dark mode) */
    --footer-bg-dark: #121212;   /* Footer background (dark mode) */
    --footer-text-dark: #e1e1e1; /* Footer text color (dark mode) */
    --muted-color-dark: #b3b3b3;  /* Muted text (dark mode) */
    --input-color-dark: #333333;  /* Input fields (dark mode) */
    --title-color-dark: #dcdcdc; /* Light gray */
    
}